body {
  text-align: center;
}

.tablebutton {
  background: rgba(255, 255, 255, 0);

  font-family: 'Cartograph Sans CF';
  font-style: italic;
  font-size: 28px;

  border: 0px;

  text-align: center;
  width: 100%;
  height: 100%;
}

.ornament {
  padding-top: 3em;
  padding-bottom: 2em;
}

.container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.scroll {
  animation: rtl 60s linear infinite;
}

.title {
  margin-right: -7px;
}

.logout {
  background: rgba(255, 255, 255, 0);

  font-family: 'Cartograph Sans CF';
  font-style: italic;
  font-size: 10px;

  border: 0px;

  text-align: center;
  width: 100%;
  height: 100%;
}

@keyframes rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#home {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#logo {
  padding-top: 2em;
  padding-bottom: 2em;
}

#datatable {
  height: 85vh;
  width: 100vw;
  margin: 0;
}

#create {
  height: 10vh;
  width: 100vw;
  margin: 0;
}

#delete {
  text-align: center;
}

tr:last-child {
  background: #ffc300;
}