{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock meta %}

{% block content %}
<div id="home">
    <div id="logo">
        <img src="{% static 'images/vector/Logo.svg' %}"/><br>
    </div>

    <div class="ornament">
        <img src="{% static 'images/vector/Ornaments1.svg' %}"/>
    </div>

    <div class="container">
        <div class="scroll">
            <img class="title" src="{% static 'images/vector/Title.svg' %}"/>
            <img class="title" src="{% static 'images/vector/Title.svg' %}"/>
        </div>
    </div>

    <p>Things here don't make sense, it's not supposed to...</p><br>
</div>
<div id="datatable"></div>
<div>
    <a href="{% url 'main:create' %}">
        <button id="button_add" class="clickable button">
            Add Salt
        </button>
    </a>
</div>
<div>
    <a href="{% url 'login:logout' %}">
        <button class="clickable logout">
            Logout
        </button>
    </a>
</div>
<script src="{% static 'js/base.js' %}"></script>
{% endblock content %}